body {
    margin: 0;
    font-size: 28px;
}

.ib {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: cadetblue;
}

.first {
    background-color: aquamarine;
}
